<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

<div class="box is-flex is-align-items-center" id="main-box">
  <article class="message is-link">
    <div class="message-header">
      <p>New message for the HiqTek team <3</p>
    </div>
    <div class="message-body">
      Welcome to our website! We're excited to have you here, even though there's not much to see at the moment. But
      don't worry, we're working on some amazing things behind the scenes that will blow you away!<br><br>At HiqTek,
      we're passionate about innovation and pushing the boundaries of what's possible. Our team of talented
      individuals is hard at work developing groundbreaking solutions and creating exceptional experiences for our
      users.<br><br>We understand that anticipation can be tough, but trust us, it'll be worth the wait. We're dedicated to
      delivering products and services that will exceed your expectations and make a real impact in the industry.<br><br>In the
      meantime, why not explore our website and get to know us better? Learn about our mission, values, and the talented
      individuals who make up our team. You can also sign up for our newsletter to stay updated on our progress and be
      the first to know when we launch our exciting new projects.<br><br>Thank you for your patience and support. We appreciate
      your interest in HiqTek, and we can't wait to share our big things with you soon!<br><br>Stay tuned and get
      ready to be amazed!<br><br>Best regards,<br>
      HiqTek <3
    </div>
  </article>
</div>



